# Compiled files
*.o
*.out
logparser
a.out

# Build dirs
build/
bin/

# IDE
.vscode/
*.swp

# OS
.DS_Store

# Test logs (keep sample)
*.log
!sample_log_file.txt
!sample_log_file_10gb.txt
!sample_log_file_200mb.txt
!sample_log_file_long.txt
output.txt
*.txt
sample_log_file_10gb.txt
sample_log_file_200mb.txt
*.txt
